<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">

    <div class="form-group">
        <input 
            class="form-control" 
            placeholder="user name" 
            autofocus
            formControlName="username">
            <small class="text-danger d-block mt-2" 
            *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors.required">
                User name is required!
            </small>  
    </div>

    <div class="form-group">
        <input
            type="password" 
            class="form-control" 
            placeholder="password"
            formControlName="password">
            <small class="text-danger d-block mt-2">
                Password is required!
            </small>                
    </div>

    <button 
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user? <a>Register now</a></p>