<p class="text-center text-muted" *ngIf="!photos.length">
  Sorry, no photos
</p>

<ul class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div class="col-4" *ngFor="let photo of cols" appDarkenOnHover brightness="70%">
      <app-card [title]="photo.description">
          <ap-photo [url]="photo.url" [description]="photo.description">
          </ap-photo>
          <div class="text-center p-1">
            <i class="fa fa-heart-o fa-1x mr-2"></i>{{ photo.likes }}
            <i class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ photo.comments }}
          </div>
      </app-card>
    </div>
  </li>
</ul>

